.tt-High {
	color:red;
}
.tt-Medium {
	color:yellow;
}
.tt-Low {
	color:lightgreen;
}
.tt-border {
	border-color: lightyellow;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
	padding-right:10px;
	padding-left:10px

}

.tile-w {
	min-width:400px;
	}
.tile {
	width: 300px;
    /* background-color: darkslateblue; */
    height: 300px;
    min-height: 500px;
    color:#0FBBC3; 
    background-color: #333333;
	margin-top: 5;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5;
    float:left;
}
.header {
	width:100%;
	background-color:#097479;
	color:white;
	min-height:50px;
	text-align:center;
	vertical-align:middle;
	margin-top: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10;
	
}
.tile-header {
	text-align:center;
	font-size:large;
	background-color:#097479;
    color: white; /* #0FBBC3 */;
}
body {
	background-color:#111111;
}
.map {
	width:500px;
	height:500px
}
.mapcanvas {
	width:450px;
	height:450px;
	margin-left:25px;
	margin-top:-2px;
}